In [1]:

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
import sqlite3




salary_data = pd.read_csv('/Users/louisperruchon/documents/project_ds311/data/salary_data_states (2).csv', sep=";")

In [3]:
salary_data.head()

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100,year,62171,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600,year,91440,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000,year,49470,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.00,month,43800,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.00,bi-weekly,170000,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000,software engineer,5

In [10]:
salary_data['JOB_TITLE_SUBGROUP']

0           software engineer
1         assistant professor
2                     teacher
3                     teacher
4           software engineer
                 ...
167273                teacher
167274                teacher
167275                teacher
167276                teacher
167277                teacher
Name: JOB_TITLE_SUBGROUP, Length: 167278, dtype: object

In [11]:
print(salary_data['JOB_TITLE_SUBGROUP'].unique())

['software engineer' 'assistant professor' 'teacher' 'business analyst'
 'management consultant' 'data analyst' 'attorney' 'data scientist']

In [24]:
#creation of a frame for the repartition of the job title subgroup

salary_data['JOB_TITLE_SUBGROUP']
repartition_salary_by_subgroup=salary_data.groupby('JOB_TITLE_SUBGROUP')['PREVAILING_WAGE_SUBMITTED'].count()
repartition_salary_by_subgroup

# do a plot could be interseting here

JOB_TITLE_SUBGROUP
assistant professor      18866
attorney                  1488
business analyst         27811
data analyst              3840
data scientist            1227
management consultant      770
software engineer        99364
teacher                  13912
Name: PREVAILING_WAGE_SUBMITTED, dtype: int64

In [50]:
#looking job_tile subgroup and their associeted cumulate weight 
salary_data['JOB_TITLE_SUBGROUP']
sum_salary_by_subgroup=salary_data.groupby('JOB_TITLE_SUBGROUP')['PREVAILING_WAGE_SUBMITTED'].sum()
sum_salary_by_subgroup

# do a plot here could be interesting

JOB_TITLE_SUBGROUP
assistant professor      506760051680.00499417.0039910449000440080.0043...
attorney                 224536.00224536210912210912.00209414.00209414....
business analyst         1136101111176.0070803.00644480567222558690.005...
data analyst             630003.00150758150238.00136448.00134534.001345...
data scientist           178360160850157602.00157602.00157435157435.001...
management consultant    71449016833416265616265616265672.6414751414092...
software engineer        621710084573.0013333281044581212002.0098675.00...
teacher                  4947000251052.0050403.0048000.0040000429790.00...
Name: PREVAILING_WAGE_SUBMITTED, dtype: object

In [52]:
mal_table = pd.pivot_table(salary_data, 
                       values='PREVAILING_WAGE_SUBMITTED', 
                       index=['JOB_TITLE_SUBGROUP'],
                    
                       aggfunc=np.mean)
mal_table

DataError: No numeric types to aggregate

In [25]:
# weight compared to the american economy 
# do a plot here to show that it's a few macro level
# maybe a lot at a micro level wich would implies that tey are taking Amercian jobs 
# interesting to compared with people who work in Usa (difference of salaies (expect more as an expatriate))
# I think it's possible to understand if their taking a lot of opportunities in USA in this fields ...

In [33]:
type(repartition_salary_by_subgroup)

pandas.core.series.Series